{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quartos</title>
</head>
<body>
    <div>
        <a href="/pagina/"> link pagina principla</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                {% for quarto in quartos %}
                <h5>{{quarto.id}}</h5>
                <h4>{{quarto.andar}}</h4>
                <h4>{{quarto.tipo}}</h4>
                <h4>{{quarto.descrição}}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>